@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Welcome.tsx */
.welcome{
  width: 80%;
  margin: 0 auto;
}

.heading{
  text-align: center;
  line-height: 1;
}
.form{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

select{
  width: 90%;
  padding: 5px 10px;
  border: 1px rgba(0, 0, 0, 0.322) solid;
  border-radius: 5px;
}

.box{
  margin-top:20px;
  width: 200px;
  height: 250px;
  padding:10px 20px ;
  border-radius: 5%;
  box-shadow: rgb(112, 112, 112) 0 0 10px 0;
}

.startQuiz{
  margin-top: 30px;
  text-align: center;
}

input[type=submit], .btn{
  border:solid rgba(0, 0, 0, 0.322)  1px;
  padding:10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
}

input[type=submit]:hover{
  background-color: black;
  color: #fff;
}
.btn:hover{
  background-color: black;
  color: #fff;
}


/* App.tsx */
.youCanDoIt{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor:pointer
}


/* questionUI.tsx */

.question{
  width: 80%;
  margin: 0 auto;
}

.questionBox{
  padding: 20px 15px;
  border: solid rgba(0, 0, 0, 0.322)  1px ;
  border-radius: 10px;
  box-shadow: rgb(112, 112, 112) 0 0 5px 0;
}

.options{
  margin: 10px;
}
input[type=radio] {
  margin-right: 5px;
}

.question input[type=submit]{
  margin: 10px;
}

/* better luck next time */

.exit{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: rgba(27, 11, 11, 0.425) solid 1px;
  padding: 10px 10px 30px 10px;
  border-radius: 15px;
  box-shadow: rgb(148, 148, 148) 0 0 8px 0;
}

.loading{
  
}