/* Header */

.header {
  background-color: #292929;
  padding: 10px;
  color: #fff;
  text-shadow: 2px 2px 15px rgba(0, 252, 176, 0.651);
  letter-spacing: 0.5rem;
  height: 50px;
  font-size: 32px;
  font-weight: 500;
  box-shadow: black 0 0 8px 0;
}

.header a {
  text-decoration: none;
  color: #fff;
}
/* Welcome.tsx */
.welcome {
  width: 80%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  line-height: 1;
}
.form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

select {
  width: 90%;
  padding: 5px 10px;
  border: 1px rgba(0, 0, 0, 0.322) solid;
  border-radius: 5px;
}

.box {
  margin-top: 20px;
  width: 200px;
  height: 250px;
  padding: 10px 20px;
  border-radius: 5%;
  border-bottom: rgba(0, 252, 176, 0.651) 10px solid;
  box-shadow: rgb(112, 112, 112) 0 0 10px 0;
}

.startQuiz {
  margin-top: 30px;
  text-align: center;
}

input[type="submit"],
.btn {
  border: solid rgba(0, 0, 0, 0.322) 1px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

input[type="submit"]:hover {
  background-color: black;
  color: #fff;
}
input[type="submit"]:focus {
  outline: 0;
}

.btn:hover {
  background-color: black;
  color: #fff;
}

/* App.tsx */
.youCanDoIt {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/* questionUI.tsx */

.question {
  width: 80%;
  margin: 20px auto;
}

.questionBox {
  padding: 20px 15px;
  border: solid rgba(0, 0, 0, 0.322) 1px;
  border-radius: 10px;
  box-shadow: rgb(112, 112, 112) 0 0 5px 0;
}

.options {
  margin: 10px;
}
input[type="radio"] {
  margin-right: 5px;
}

.question input[type="submit"] {
  margin: 10px;
}

/* exit */

.exit {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  border: rgba(27, 11, 11, 0.425) solid 1px;
  padding: 10px 10px 30px 10px;
  border-radius: 15px;
  box-shadow: rgb(148, 148, 148) 0 0 8px 0;
}

/* Loading */

.loader,
.loader:before,
.loader:after {
  background: #292929;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #141414;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* FOOTER */
.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #292929;
  min-height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.innerFooter {
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.3rem;
}
.footer a {
  color: rgba(0, 252, 176, 0.651);
  text-decoration: none;
  letter-spacing: 0.3rem;
}

.footer a:hover {
  color: #fff;
  cursor: pointer;
}
